@import "tailwindcss";
html,body,:root{
    height:100%;
}
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top{
    z-index:0!important;
}
/* /* .rdrMonth{
    width: 100%, !important;

    padding-right: 10px!important;
} */
.rdrCalendarWrapper{
    width: 100%!important;
    font-size: 16px!important;
    padding-right: 10px!important;
} 
.rdrDays{
    width:95%;
}
.rdrMonth{
    padding-right: 15px;

}
.rdrWeekDay{
    padding-right: 15px;
}